/* Global styles */
body {
  font-family: Arial, sans-serif;
  line-height: 1.5;
  margin: 0;
  padding: 0;
}

nav {
  background-color: #007bff;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 20px;
  font-family: Arial, sans-serif;
  font-size: 20px;
  color: white;
  font-weight: bold;
  border-bottom: 4px solid white;
}

nav a {
  color: #fff;
  text-decoration: none;
}

ul {
  display: flex;
  margin: 0;
  padding: 0;
  list-style: none;
}

li {
  margin-left: 20px;
}

h1 {
  font-size: 36px;
  margin: 0 0 20px;
}

p {
  font-size: 18px;
  margin: 0 0 10px;
}

a {
  color: #007bff;
  text-decoration: none;
}

ol {
  list-style: decimal;
  margin: 0 0 20px;
  padding: 0 0 0 40px;
}

/* Specific styles */
#download {
  background-color: #f7f7f7;
  padding: 50px;
}

#download a {
  font-weight: bold;
}

#chatgpt-everywhere {
  background-color: #ffffff;
  padding: 50px;
}

#chatgpt-everywhere ol {
  list-style: lower-alpha;
}

.download-link,
.chatgpt-link {
  display: inline-block;
  text-decoration: none;
  font-size: 32px;
  font-weight: bold;
  margin-bottom: 20px;
  color: #007bff;
}

/* Media queries */
@media only screen and (max-width: 768px) {
  nav {
    flex-direction: column;
    justify-content: center;
    text-align: center;
    height: auto;
  }

  ul {
    flex-direction: column;
  }

  li {
    margin: 10px 0;
  }
}

@media only screen and (max-width: 480px) {
  h1 {
    font-size: 28px;
  }

  p {
    font-size: 16px;
  }

  .download-link,
  .chatgpt-link {
    font-size: 24px;
    margin-bottom: 10px;
  }
}
