body {
  width: 180px;
  height: 212px;
  overflow-x: hidden;
  overflow-y: scroll;
  background-color: #f7f7f8;
}
#menu,
#promptLinks,
#aiMenu,
#aiList{
  padding-left: 0px;
  margin: 0px;
  overflow-y: scroll;
}
li,
.pages {
  color: #ffffff;
  border: none;
  margin-top: 3px;
  display: block;
  width: 180px;
  cursor: pointer;
  height: 30px;
  font-size: 100%;
  text-align: center;
  background-color: #007aa6;
  border-radius: 5px;
  padding-top: 8px;
  font-size: 16px;
  -webkit-box-shadow: 1px 2px 15px -7px rgba(0,0,0,0.46); 
  box-shadow: 1px 2px 15px -5px rgba(0,0,0,0.46);
}
a {
  text-decoration: none;
}
.more {
  font-size: 13px;
  color: #353535;
}
.links {
  margin: 3px;

}
.newTab {
	font-size: 13px;
	margin-top: 10px;
}
.donate {
	color: #cc9b0a;
	font-size: 12px;
	padding-left: 4px;
	font-weight: bold;
}
.orange{
  background-color: #fb7b2d;
  color: #ffffff;
  border: none;
  margin-top: 3px;
  display: block;
  width: 180px;
  cursor: pointer;
  height: 30px;
  font-size: 100%;
  text-align: center;
  border-radius: 5px;
  padding-top: 8px;
  font-size: 16px;
}
#aiList li {
	color: #000;
	border: none;
	margin-top: 3px;
	display: block;
	width: 180px;
	height: 30px;
	font-size: 100%; 
	text-align: center;
	background-color: #fff;
	border-radius: 5px;
	padding-top: 8px;
	font-size: 16px;
	position: relative;
  cursor: default;
}
#aiList a {
	color: red;
	position: absolute;
	right: 9px;
	font-weight: bold;
  cursor: pointer;
}
.folder {
	background-color: #204755;
}
.back {
	color: #000;
	border: none;
	margin-top: 3px;
	display: block;
	width: 180px;
	cursor: pointer;
	height: 30px;
	/* font-size: 100%; */
	text-align: center;
	background-color: #dbdbdb;
	border-radius: 5px;
	padding-top: 8px;
	font-size: 16px;
	-webkit-box-shadow: 1px 2px 15px -7px rgba(0,0,0,0.46);
	box-shadow: 1px 2px 15px -7px rgba(0,0,0,0.46);
}